<!--
  Example to introduce charting in MVC using chart.js

  Author: Manish Agrawal
  Date: Feb 25, 2019

  Many examples use or are inspired by
  http://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/
-->

@model ChartModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>Chart.js examples</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
</head>
<body>
  <h1> Bar chart example</h1>

  <canvas id="barchartexample" width="600" height="350"></canvas>

  <script>
    new Chart(document.getElementById("barchartexample"), {
      type: '@Model.ChartType',
      data: {
        labels: [@Html.Raw(@Model.Labels)],
        datasets: [
          {
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: [@Model.Data]
          }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: '@Model.Title'
        }
      }
    });
  </script>
</body>
</html>